accelerate
ai21
aiohttp
aiosignal
annotated-types
anyio
appdirs
asttokens
attrs
backoff
bitsandbytes
cachetools
certifi
charset-normalizer
click
cohere
datasets
decorator
dill
distro
docker-pycreds
docstring-parser
executing
fairscale
fastavro
filelock
fire
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httpx
huggingface-hub
idna
importlib-metadata
ipython
jedi
Jinja2
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mpmath
multidict
multiprocess
networkx
numpy
openai
packaging
pandas
parso
peft
pexpect
prompt-toolkit
proto-plus
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyarrow-hotfix
pyasn1
pyasn1-modules
pydantic
pydantic_core
Pygments
python-dateutil
pytz
PyYAML
regex
requests
rich
rsa
safetensors
scipy
sentencepiece
sentry-sdk
setproctitle
shtab
six
smmap
sniffio
stack-data
sympy
tabulate
tenacity
termcolor
tiktoken
tokenizers
torch
tqdm
traitlets
transformers
trl
typing_extensions
tyro
tzdata
urllib3
wandb
wcwidth
xxhash
yarl
zipp